{% extends "americana/base.html" %}
{% block body %}
<section class="section">
<div class="container">

{% if messages %}
<div class="notification is-primary is-light">
    <button class="delete"></button>
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
</div>
{% endif %}

<section class="hero is-small has-background-info-light">
<div class="hero-body">
    <div class="level">
    <div class="level-left">
        <div class="level-item">
            <h1 class="title">Tablero</h1>
        </div>
    </div>
    <div class="level-right" style="display: none;">
        <div class="level-item"></div>
    </div>
    </div>
</div>
</section>

<section class="section">
<nav class="level">
<div class="level-item has-text-centered">
    <div>
    <p class="heading">Número de Tesis Registradas</p>
    <p class="title">{{tesis.count}}</p>
    </div>
</div>
<div class="level-item has-text-centered">
    <div>
    <p class="heading">Número de Publicaciones Registrados</p>
    <p class="title">{{publicaciones.count}}</p>
    </div>
</div>
<div class="level-item has-text-centered">
    <div>
    <p class="heading">Públicaciones por aprobar</p>
    <p class="title">{{tesis_por_aprobar.count}}</p>
    </div>
</div>
</nav>
</section>

<section class="section">
<p class="title">Tesis</p>
<hr class="has-background-grey-lighter">
<div class="table-container mt-4">
<table class="table is-striped is-fullwidth">
<thead class="has-background-light">
    <tr>
        <th>Documento</th>
        <th>Título</th>
        <th>Programa</th>
        <th>Director</th>
        <th>Co-Director</th>
        <th>Fecha de Creación</th>
        <th>Resumen</th>
    </tr>
</thead>
<tbody>
    {% for t in tesis  %}
    <tr>
        <td>
            <span class="icon is-large">
                <a href="{{t.file.url}}" target="_blank">
                    <i class="fas fa-2x fa-file-pdf"></i>
                </a>
            </span>
        </td>
        <td>{{t.title}}</td>
        <td>{{t.program}}</td>
        <td>{{t.director}}</td>
        <td>{{t.co_director}}</td>
        <td>{{t.publish_date}}</td>
        <td>Aqui va el Resumen, solo mostrar 50 caracteres</td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>
</section>

<section class="section">
    <p class="title">Publicaciones</p>
    <hr class="has-background-grey-lighter">
    <div class="table-container mt-4">
    <table class="table is-striped is-fullwidth">
    <thead class="has-background-light">
        <tr>
            <th>Fecha de Publicación</th>
            <th>Publicado en</th>
            <th>Titulo</th>
            <th>Resumen</th>
            <th>Articulo</th>
        </tr>
    </thead>
    <tbody>
        {% for p in publicaciones  %}
        <tr>
            <td>{{p.publish_date}}</td>
            <td>{{p.conference}}</td>
            <td>{{p.article}}</td>
            <td>{{p.description}}</td>
            <td>
                <span class="icon is-large">
                    <a href="{{p.file.url}}" target="_blank">
                        <i class="fas fa-2x fa-file-pdf"></i>
                    </a>
                </span>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>
</section>


</div>
</section>
{% endblock body %}