{% extends "americana/base.html" %}
{% block body %}
<section class="section">
<div class="container">
{% if messages %}
<div class="notification is-primary is-light">
    <button class="delete"></button>
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
</div>
{% endif %}
<section class="hero is-light is-small">
    <div class="hero-body">
        <div class="has-text-centered">
            <p class="title">Tablero</p>
        </div>
    </div>
</section>
<section class="section">
<nav class="level">
    <div class="level-left">
        <div class="level-item">
            <p class="title">Tesis</p>
        </div>
    </div>
    <div class="level-right">
        <div class="level-item">
            <p class="subtitle">Registradas: {{tesis_count}}</p>    
        </div>
    </div>
</nav>
<hr class="has-background-grey-lighter">
<div id="results-tesis">
    {% include "americana/tesis/partials/table-dashboard.html" with tesis=tesis %}
</div>
</section>
<section class="section">
<nav class="level">
    <div class="level-left">
        <div class="level-item">
            <p class="title">Publicaciones</p>
        </div>
    </div>
    <div class="level-right">
        <div class="level-item">
            <p class="subtitle">Registradas: {{publicaciones_count}}</p>    
        </div>
    </div>
</nav>
<hr class="has-background-grey-lighter">
<div id="results-publicacion">
    {% include "americana/publicacion/partials/table-dashboard.html" with publicaciones=publicaciones %}
</div>
</section>
</div>
<div id="modal-summary"></div>
</section>
{% endblock body %}
{% block js %}
<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
      event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
</script>
{% endblock js %}