{% extends 'americana/base.html' %}
{% load static %}
{% block body %}
<section>
  <div class="columns is-vcentered">
    <div class="column is-5">
      <figure class="image is-4by5">
        <img src="{% static 'img/banner_2.jpeg' %}" alt="Banner principal">
      </figure>
    </div>
    <div class="column is-3 is-offset-2">
        <figure class="image is-square">
          <img src="{% static 'img/logo_2.jpeg' %}" alt="Logo">
        </figure>
    </div>
  </div>
</section>
{% endblock body%}