<div class="modal" _="on click transition opacity to 0 then remove me">
<div class="modal-background"></div>
<div class="modal-card">
    <header class="modal-card-head">
    <p class="modal-card-title"></p>
    <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
    <p class="title is-5 has-text-justified">{{publicacion.title}}</p>
    <p class="has-text-justified">{{publicacion.description}}</p>
    </section>
    <footer class="modal-card-foot">
    </footer>
</div>
</div>