{% extends 'americana/base.html' %}
{% block body %}
<section class="section">
<div class="container">
<div class="box has-background-light">
<h1 class="title is-2 is-uppercase is- has-text-centered">Congresos</h1>
<br><hr class="has-background-grey-lighter">
<div class="table-container mt-6">
<table class="table is-striped is-fullwidth">
<thead class="has-background-light">
    <tr>
        <th>Generación</th>
        <th>Alumno</th>
        <th>Nombre del Congreso</th>
        <th>Artículo</th>
        <th>Descripción</th>
        <th>Fecha</th>
    </tr>
</thead>
<tbody class="has-background-light">
    {% for c in congresos  %}
    <tr>
        <td>{{c.generation}}</td>
        <td>{{c.student.get_full_name}}</td>
        <td>{{c.conference}}</td>
        <td>{{c.article}}</td>
        <td>{{c.description}}</td>
        <td>{{c.publish_date}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>

</div>
</div>
</section>
{% endblock %}