{% extends "americana/base.html" %}
{% load widget_tweaks %}
{% block body %}
<section class="section">
<div class="container">
<form class="box" enctype="multipart/form-data" method="post">
    <p class="title is-spaced">Publicación</>
    <br>
    {% csrf_token %}
    <div class="field">
        <label class="label">Documento</label>
        <div class="control">
            {% render_field form.file class='file-input' %}
        </div>
    </div>
    <div class="field">
        <label class="label">Título</label>
        <div class="control">
            {% render_field form.title class='input' %}
        </div>
    </div>
    <div class="field">
        <label class="label">Autor</label>
        <div class="control">
            {% render_field form.autor class='input' %}
        </div>
    </div>
    <div class="field">
        <label class="label">ISBN</label>
        <div class="control">
            {% render_field form.isbn class='input' %}
        </div>
    </div>
    <div class="field">
        <label class="label">ISSN</label>
        <div class="control">
            {% render_field form.issn class='input' %}
        </div>
    </div>
    <div class="field">
        <label class="label">Publicado en</label>
        <div class="control">
            {% render_field form.conference class='input' %}
        </div>
    </div>
    <div class="field">
        <label class="label">Resumen</label>
        <div class="control">
            {% render_field form.description class='textarea' rows="4" %}
        </div>
    </div>
    <div class="field">
        <label class="label">Fecha de Publicación</label>
        <div class="control">
            {% render_field form.publish_date class='input' %}
        </div>
    </div>
    <hr>
    <div class="field">
        <div class="control">
            <button class="button is-info" type="submit">Actualizar registro</button>
        </div>
    </div>
</form>
</div>
</section>
{% endblock body %}