{% extends 'americana/base.html' %}
{% block body %}
<section class="section">
<div class="container">
<div class="box has-background-light">
<h1 class="title is-2 is-uppercase is- has-text-centered">Publicaciones</h1>
<br><hr class="has-background-grey-lighter">
<div class="table-container mt-6">
<table class="table is-striped is-fullwidth">
<thead class="has-background-light">
    <tr>
        <th>Fecha de Publicación</th>
        <th>Publicado en</th>
        <th>Titulo</th>
        <th>Resumen</th>
        <th>Articulo</th>
        <th>Fecha de Creación</th>
    </tr>
</thead>
<tbody class="has-background-light">
    {% for p in publicaciones  %}
    <tr>
        <td>{{p.publish_date}}</td>
        <td>{{p.conference}}</td>
        <td>{{p.title}}</td>
        <td>{{p.description|slice:":250"}}</td>
        <td>
            <span class="icon is-large">
                <a href="{{p.file.url}}" target="_blank">
                    <i class="fas fa-2x fa-file-pdf"></i>
                </a>
            </span>
        </td>
        <td>{{p.created_at}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>
</div>
</div>
</section>
{% endblock %}