{% extends 'base.html' %}
{% block body %}
<!-- Header -->
<header class="bg-primary py-5 mb-5">
<div class="container h-100">
    <div class="row h-100 align-items-center">
    <div class="col-lg-12">
        <h2 class="text-white mt-2 mb-2">Universidad Americana de Acapulco</h2>
        <p class="lead mb-2 text-white">Repositorio de Documentos</p>
    </div>
    </div>
</div>
</header>

<!-- Page Content -->
<div class="container">

<div class="row">
    <div class="col-md-12 mb-5 mt-5">
    <h3>Otra descipcion del proyecto</h3>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt neque tempore recusandae animi soluta quasi? Asperiores rem dolore eaque vel, porro, soluta unde debitis aliquam laboriosam. Repellat explicabo, maiores!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio neque consectetur consequatur magni in nisi, natus beatae quidem quam odit commodi ducimus totam eum, alias, adipisci nesciunt voluptate. Voluptatum.</p>
    <a class="btn btn-uaa btn-lg" href="{% url 'repo_ita:search' %}">Ver todos los documentos &raquo;</a>
    </div>
</div>
<!-- /.row -->
{% comment %}
<div class="row">
    <div class="col-md-4 mb-5">
    <div class="card h-100">
        <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
        </div>
        <div class="card-footer">
        <a href="#" class="btn btn-uaa">Find Out More!</a>
        </div>
    </div>
    </div>
    <div class="col-md-4 mb-5">
    <div class="card h-100">
        <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus totam ut praesentium aut.</p>
        </div>
        <div class="card-footer">
        <a href="#" class="btn btn-uaa">Find Out More!</a>
        </div>
    </div>
    </div>
    <div class="col-md-4 mb-5">
    <div class="card h-100">
        <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
        <div class="card-footer">
        <a href="#" class="btn btn-uaa">Find Out More!</a>
        </div>
    </div>
    </div>
</div>
{% endcomment %}
<!-- /.row -->

</div>
<!-- /.container -->
{% endblock body%}