{% load static %}
<nav class="navbar {{theme}} is-spaced" role="navigation" aria-label="main navigation">
<div class="container">
<div class="navbar-brand">
  <a class="navbar-item" href="{% url 'repo-ame:home' %}">
    <img src="{% static 'img/LOGO-UAA-2.png' %}" width="150" height="30" alt="Universidad Americana de Acapulco">
  </a>
  <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-ame">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>
</div>
<div id="navbar-ame" class="navbar-menu">
  <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Menú</a>
        <div class="navbar-dropdown is-boxed">
          {% if user.is_authenticated %}
          <a class="navbar-item" href="{% url 'repo-ame:tablero' %}">Tablero</a>
          {% endif %}
          <a class="navbar-item" href="{% url 'repo-ame:tesis' %}">Tesis</a>
          <a class="navbar-item" href="{% url 'repo-ame:publicacion' %}">Publicaciones</a>
        </div>
      </div>
  </div>
  <div class="navbar-end">
    {% if user.is_authenticated  %}
    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link">{{user.username|capfirst}}</a>
      <div class="navbar-dropdown">
        <a class="navbar-item" href="{% url 'admin:index' %}">Ir al sitio de administración</a>
        <hr class="navbar-divider">
        <a class="navbar-item" href="{% url 'repo-ame:logout' %}">Cerrar sesión</a>
      </div>
    </div>
    {% else %}
    <div class="navbar-item">
    <div class="buttons">
        <a class="button is-danger" href="{% url 'repo-ame:login' %}">Iniciar Sesión</a>
    </div>
    </div>
    {% endif %}
  </div>
</div>
</div>
</nav>